*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
}
body{
    background: #e7e7e7;

}
li{
    list-style: none;
}
.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: grey;
}
.header__nav{
    display: flex;

}
.header__nav li {
    margin-right: 50px;
    font-size: 20px;
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.header__logo img{
    margin-right: 20px;
}
.name p:first-child{
    font-weight: 700;
    font-size: 20px;
    color: darkgrey;
}
.name p:last-child{
    color: lightgrey;
}
.intro__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.intro__container p {
    max-width: 600px;
    margin-top: 50px;
    letter-spacing: 0.1em;
    line-height: 30px;
    font-size: 20px;

}
.intro__img{
    display: flex;
    justify-content: center;
}
.intro__img img{
    border-radius: 50%;
    margin-top: 50px;

}
.intro__info p{
    font-weight: 700;
    font-size: 30px;
    color: grey;
}
.intro__info-list li{
    margin-top: 10px;
    font-size: 18px;
}
.edu__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.edu__body{
    max-width: 700px;
}

.edu__body p{
    margin-top: 50px;
    letter-spacing: 0.1em;
    line-height: 30px;
    font-size: 20px;
}
.edu__list li{
    margin-top: 10px;
    font-size: 18px;
}
.certificates__img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.certificates__img img{
    margin: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__social div{
    margin: 0 25px;
}
